@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .input-minimal {
    @apply w-full px-2.5 py-1.5 text-sm text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-cyan-500 focus:border-cyan-500 transition duration-200 ease-in-out placeholder-gray-400;
  }

  .input-minimal:disabled {
    @apply bg-gray-100 text-gray-400 cursor-not-allowed;
  }

  .input-minimal:not(:placeholder-shown) {
    @apply border-cyan-500 bg-white;
  }




  @layer components {
    .modal-overlay {
      @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-4;
    }

    .modal-box {
      @apply bg-white text-cyan-950 rounded-lg shadow-lg w-full max-w-md md:max-w-2xl p-6 relative max-h-[90vh] flex flex-col;
    }

    .modal-content {
      @apply overflow-y-auto flex-1 pr-2 pb-20;
    }

    .modal-footer {
      @apply absolute bottom-0 left-0 w-full bg-white flex flex-wrap justify-center md:justify-center gap-3 p-4 border-t shadow-md z-10;
    }

    .modal-footer button {
      @apply flex items-center justify-center gap-2 text-sm px-3 py-2 rounded-lg font-semibold uppercase shadow-md transition;
    }

    .modal-footer svg {
      @apply w-5 h-5;
    }

    .badge-info {
      @apply px-3 py-1 bg-white font-semibold text-cyan-800 rounded-full text-sm;
    }

    .label-info {
      @apply font-semibold w-32;
    }


    .btn-cyan {
      @apply flex items-center justify-center gap-2 px-4 py-2 bg-slate-600 text-white font-medium rounded-md shadow-sm hover:bg-slate-700 active:scale-95 transition-all duration-150 ease-in-out focus:outline-none;
    }


    .card-teal {
      @apply bg-white shadow rounded-lg p-4 grid grid-cols-12 gap-4 items-center border-b-4 border-teal-500 mb-4;
    }

    .text-u {
      @apply text-teal-600 text-sm font-semibold uppercase;
    }

  }
}